body::before {
  display: block;
  content: "";
  height: 60px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
.card {
  height: 100%;
}

.card-body img {
  width: 100px; 
  height: 100px;
  object-fit: cover; 
  border-radius: 50%; 
}
